.container {
  background-color: hsl(0, 70%, 75%);
  padding: 2rem;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(255, 106, 106, 0.1);
  text-align: center;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  color: black;
}

/* Pretty colors for the names */
li:nth-child(1) {
  color: rgb(239, 12, 182); /* Tomato */
}

li:nth-child(2) {
  color: #0f46eb; /* Royal Blue */
}

li:nth-child(3) {
  color: #0d710d; /* Lime Green */
}

li:nth-child(4) {
  color: black; /* Medium Purple */
}
